.chat-input-container {
  width: 100%;
}

.chat-input-box {
  box-sizing: border-box;
  height: 60px;
  width: calc(100% - 100px);
  padding-left: 10px;
  font-size: 30px;
  color: red;
}

.chat-input-microphone {
  position: relative;
  right: 30px;
  top: 25px;
  cursor: pointer;
}
