.chat-input-container {
  width: 100%;
  position: relative;
}

.chat-input-box {
  box-sizing: border-box;
  height: 60px;
  width: calc(100% - 33px);
  padding-left: 10px;
  font-size: 30px;
  color: #db536a;
}

.chat-input-microphone {
  position: absolute;
  right: 0;
  top: -4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
